body{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 450;
    margin: 0%;
    padding-top: 0%;
}
.div-1{
    background-image: url(img-2/p1.jpg);
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    padding-bottom: 350px;
    padding-top:100px ;

    
}
h2{
    font-size: 80px;
    color: white;
    background-image: linear-gradient(45deg,red,orange);
}
.div-2{
    background-color: lightslategray;
    color: white;
    padding:20px;
    text-align: center;
}
#div-3{
    background-image: url(img-2/p4.jpg);
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-size: auto;
    padding-bottom: 200px;
    padding-top:150px ;
    background-size: auto;
    
}
#div-4{
    background-color: rgb(248, 92, 31) ;
    color:rgb(22, 4, 102);
    padding:20px;
    text-align: center;
}
#div-5{
    background-image: url(img-2/car.jpg);
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-size: auto;
    padding-bottom: 500px;
    padding-top:300px ;
}
#div-6{
    background-color: brown ;
    color:deepskyblue;
    padding:20px;
    text-align: center; 
}
#button{
    color: black;
    font-size: 20px;
    font-weight: bolder;
    align-items: flex-end;
    background-image: linear-gradient(100deg,DarkOrchid,DarkSlateBlue);
    border-radius: 10px;
    box-shadow: slategray;
}
#bike{
    background-image: url(img-2/bike.jpg);
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-size: auto;
    padding-bottom: 500px;
    padding-top:200px ;
}
#div-7{
    background-color: rgb(6, 175, 175) ;
    color:rgb(207, 8, 58);
    padding:20px;
    text-align: center; 
}
#div-8{
    background-image: url(img-2/london.jpg);
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-size: auto;
    padding-bottom: 500px;
    padding-top:200px ;
}
#div-9{
    background-color: brown ;
    color:deepskyblue;
    padding:20px;
    text-align: center; 
}